
.md-button
{
  margin-top: 10px;
  margin-left: 14px;
}
.md-form
{
  margin-left: 450px;
  margin-top: -495px;
}
.md-button1{
  margin-top: 10px;
}
.md-avatar
{
  margin-top: 15px;
  height: 290px;
  width: 290px;
}
.skill
{
  resize: none;

}
.photo
{
  margin-left: 14px;
}
