<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <style>
            .gh
            {
                margin-left: 25px;
            }
        </style>
        <title>Мои группы</title>
    </head>
    <body>
        <span class="border-top my-3"></span>
    <div class="row">
        <div class="col-3">
            <label class="gh" for="Group">Мои группы</label>
            <hr>
        </div>
        <div class="col-9">
            <label for="List" class="gh">Список участников</label>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for group, mem in members.items %}
                <a class="nav-link" id="v-pills-group{group}}-tab" data-toggle="pill" href="#v-pills-group{{group}}" role="tab" aria-controls="v-pills-group{{group}}" aria-selected="true">{{group}}</a>
                {% endfor %}
            </div>
             
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">      
                {% for group, mem in members.items %}
                <div class="tab-pane fade " id="v-pills-group{{group}}" role="tabpanel" aria-labelledby="v-pills-group{{group}}-tab">   
                                      
                        {% for name in mem %}
                        <a class="nav-link" href="/detail/{{name.user.id}}" >{{name.surname}} {{name.name}}</a>                   
                        {% endfor %}
                    
                </div>             
                {% endfor %}
            </div>
            
        </div>
        
    </body>
</html>